@import '~nav-frontend-core/less/_variabler';

.skjema {
    margin: 0 1rem;
    padding-bottom: 3rem;

    @media (min-width: @screen-sm) {
        width: 41rem;
        margin: 0 auto;

        &__input-felt {
            width: 31.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .bold {
        font-weight: 600;
    }

    .alertstripe {
        margin-top: 1rem;
    }

    .brodsmule {
        padding: 1.5rem 0 2rem;
    }

    &__bedriftinfo {
        margin-bottom: 2rem;
    }

    &__vedtakskode {
        margin-bottom: 0.5rem;
    }

    &__beskrivelse {
        margin-bottom: 2rem;

        .textarea--medMeta {
            height: 23rem !important;
        }
    }

    .kontaktopplysninger-tittel {
        margin-bottom: 1rem;
    }

    &__knapper {
        padding-top: 2rem;

        @media (min-width: @screen-sm) {
            padding-top: 1rem;

            .send-inn-knapp {
                margin-right: 1rem;
            }
        }
    }

    .feilmelding-send-inn {
        margin-top: 1rem;
    }
}
