@import '~nav-frontend-core/less/_variabler';

.kvitteringsside {

    @media (min-width: @screen-sm) {
        width: 40rem;
        margin: 0 auto;
    }

    .bold {
        font-weight: 600;
        margin-top: 2rem;
    }

    .brodsmule {
        padding: 1.5rem 0 2rem;
        margin: 0 1rem;

        @media (min-width: @screen-sm) {
            margin: 0;
        }
    }

    .snakkeboble--venstre {
        margin: 0 1rem;

        @media (min-width: @screen-sm) {
            margin: 0;
        }
    }

    &__oppsummering {
        margin-bottom: 2rem;
        background-color: white;
        padding: 1rem;
        border-radius: 4px;

        @media (min-width: @screen-sm) {
            padding: 1.5rem;
        }

        .oppsummering-tittel {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            .oppsummering-overskrift {
                width: 16rem;

                @media (min-width: 375px) {
                    width: 19rem;
                }

                @media (min-width: @screen-sm) {
                    width: 35rem;
                }
            }

            .kvitteringsside-ikon {
                margin-right: 0.5rem;
                text-align: center;
                @media (min-width: @screen-sm) {
                    text-align: left;
                }
            }
        }
    }

    &__ny-klage-knapp {
        padding: 2rem 0 3rem;
        text-align: center;

        @media (min-width: @screen-sm) {
            padding: 1rem 0 3rem;
            text-align: initial;
        }
    }
}
